
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "book_logs/base.html" %}
    {% load static %}
    {% block content %}
    <figure class="md:flex bg-gray-100 rounded-xl p-8 md:p-0 w-2/3 m-auto md:mt-20">
        <img class="w-42 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="{% static 'assets/fat-doggo.jpg' %}" alt="" width="384" height="512">
        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <blockquote>
                <div class="text-lg font-semibold">
                    <p>Ever get tired of trying to fit your handwriting into the tiny margin of a book?</p><br>
                    With <span class="text-blue-700">Archiviste</span>,taking <i>clean</i> and <i>organized</i> notes
                    while reading books couldn't be easier!

                </div>
            </blockquote>
            <figcaption class="font-medium">
                <div class="text-cyan-600">
                        Thai Bui
                </div>
                <div class="text-gray-500">
                        Some unemployed dude
                </div>
            </figcaption>
        </div>
    </figure>
    {% endblock content %}

</body>
</html>